ENV=<development | production>
DB_HOST=<db host>
DB_USER=<db user>
DB_PASSWORD=<db pw>
DB_NAME=<db name>
EP_URL=<check etherpad-lite settings.json>
EP_API_KEY=<etherpad-lite APIKEY>
FILTER=__NOINDEX__
PAGINATION=<eg 100>